body {
    margin: 0;
    height: 100vh;

    h1, p {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p { 
        top: 60%;
        text-align: center;
    }
}

